

<!--
<div *ngIf="libros">
    <div class="head">
        Id
        Nombre
        Alquilado
    </div>

    <div *ngFor="let libro of libros">
        <ul>
            <li [class.selected]="selectedLibroId==libro.id" (click)="onSelect(libro)" >{{libro.id}} {{libro.titulo}} {{libro.alquilado}}</li>
        </ul>
    </div>

</div>
-->


<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>ALQUILADO</th>            
        </tr>
    </thead>
    <tbody>
        @for(libro of libros; track libro.id){
            <tr [class.select]="selectedLibroId==libro.id" (click)="onSelect(libro)">
                <td>{{libro.id}}</td>
                <td>{{libro.titulo}}</td>
                <td>{{libro.alquilado}}</td>
            </tr>
        }
    </tbody>
</table>