


<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>TÍTULO</th>
            <th>ALQUILADO</th>            
        </tr>
    </thead>
    <tbody>
        @for(libro of libros; track libro.id){
            <tr [class.select]="(libroSeleccionado | async)?.id ===libro.id" (click)="onSelect(libro)">
                <td>{{libro.id}}</td>
                <td>{{libro.titulo}}</td>
                <td>{{libro.mostrarAlquilado}}</td>
            </tr>
        }
    </tbody>
</table>