


li{
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #cd966c;
    margin: .5em;
    height: 1.6em;
    border-radius: 4px;
}

li:hover{
    color: white;
    background-color: #9a5833;
    left: .1em;
}

li.selected{
    background-color: #7c3b1a;
    color: white;
}

ul{
    list-style-type: none;
}

td{
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #cd966c;
    margin: .5em;
    height: 1.6em;
    padding: 0 50px;
    border-bottom: 2px solid white;
}

tr:hover td{
    color: white;
    background-color: #9a5833;
    left: .1em;
}

tr.select td{
    background-color: #7c3b1a;
    color: white;
}

table{
    margin: 70px auto;
    border-collapse: collapse;
    letter-spacing: 0.5px;
}
