<!--
<div *ngIf="users">
    <div class="head">
        Id
        Nombre
    </div>

    <div *ngFor="let user of users">
        <ul>
            <li [class.selected]="selectedUserId==user.id" (click)="onSelect(user)" >{{user.id}} {{user.nombre}}</li>
        </ul>
    </div>

</div>
-->


<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>EMAIL</th>
        </tr>
    </thead>
    <tbody>
        @for(user of users; track user.id){
            <tr [class.select]="selectedUserId==user.id" (click)="onSelect(user)">
                <td>{{ user.id }}</td>
                <td>{{ user.nombre }}</td>
                <td>{{ user.email }}</td>
                <td><i class="fa-solid fa-pen" (click)="onEdit()"></i></td>
            </tr>
        }
    </tbody>
</table>
