

<div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>ID_SOCIO</th>
                <th>NOMBRE SOCIO</th>
                <th>ID_LIBRO</th>
                <th>TÍTULO LIBRO</th>
                <th>FECHA</th>
                <th>VIGENTE</th>
                <th>FECHA_DEVOLUCIÓN</th>
            </tr>
        </thead>
        <tbody>
            @for(alqui of alquileres; track alqui.id){
                <tr [class.select]="(alquilerSeleccionado | async)?.id ===alqui.id" (click)="onSelect(alqui)">
                    <td>{{alqui.id}}</td>
                    <td>{{alqui.idSocio}}</td>
                    <td>{{alqui.nombreSocio}}</td>
                    <td>{{alqui.idLibro}}</td>
                    <td>{{alqui.tituloLibro}}</td>
                    <td>{{alqui.fecha | date: 'dd/MM/yyyy'}}</td>
                    <td>{{alqui.mostrarVigente}}</td>
                    @if(alqui.fecha <= alqui.fechaDevolucion){
                        <td>{{alqui.fechaDevolucion | date: 'dd/MM/yyyy'}}</td>
                    }@else{
                        <td>--/--/----</td>
                    }
   
                </tr>
            }
        </tbody>
    </table>
</div>

