
.div-raiz{
    margin-top: -25px;
    width: 100vw;
    height: 100vh;
    background-image: url('/assets/resources/portada_login.jpg');
    background-size: cover;
    
}

.login{
    position: relative;
    top: 25%;
    left: 60%;
    --w: 400px;
    --h: 450px;
    
    --gradient: linear-gradient(#906a26, #a88033);


    width: var(--w);
    height: var(--h);
    background: var(--gradient);
    border-radius: 5px;
}

h2{
    font-family: "Merriweather", serif !important;
    text-align: center;
    padding-top: 20px;
}

div{
    margin-top: 10px;
}

input{
    border-radius: 5px;
}



button{
    margin-top: 20px;
    padding: 5px 15px;
    border-radius: 4px;
}

button:hover{
    cursor: pointer;
    color: white;
    background-color: #cd966c;
}

button:disabled{
    background-color: #ccc;
    color: black;
    cursor:auto;
}

button:active {
    background-color: #7c3b1a;
  }

.alert{
    color: rgb(255, 255, 255);
    font-size: 12px;
}

.form{
    margin-left: 25px;
}

.form-group{
    position: relative;
    width: 300px;
}

.form-group input{
    border: 1px solid #ddd;
    height: 40px;
    padding: 0 15px;
    border-radius: 5px;
    font-size: 15px;
    width: 100%;
}

.eyeicon{
    position: absolute;
    right: -15px;
    top: 13px;
    cursor: pointer;
}