

h2{
    margin: 50px 0 50px 0;
    text-align: center;
}

div{
    margin: 40px 55px 0 0;
    display: flex;
    justify-content: flex-end;
}

button {
    margin: 5px;
    padding: 10px 15px;
    color: black;
    text-decoration: none;
    background-color: #cd966c;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    color: white;
    background-color: #9a5833;
    left: .1em;
}

button:active {
    background-color: #7c3b1a;
  }

nav a{
    color: black;
    text-decoration: none;
    background-color: #cd966c;
    border-radius: 4px;
}