
<div class="verti">

    <div>
        <button (click)="onCreate()">Crear</button>
        <button (click)="onSearch()">Buscar</button>
        <button (click)="onDelete()">Eliminar</button>

    </div>

    <div class="formulario">
        @switch (btName) {
            @case("create"){
                <div class="titulo">Crear {{deptName}}</div>
                <form class="name">
                    <label>Nombre</label>

                    <input name="Prueba" type="text" [(ngModel)]=selectedUser.nombre>
                  
                </form>
                       
            }
            @case("search"){
                <div class="titulo">Buscar {{deptName}}</div>
                <form class="search">
                    <label>Id</label>
                    <input type="text">
                </form>
            }
            @case("delete"){
                <div class="titulo">Eliminar {{deptName}}</div>
                <form class="search">
                    <label>Id</label>
                    <input type="text">
                </form>
            }
        }

               
    </div>

</div>

<router-outlet/>