<!--
<div class="verti">

    <div>
        <button (click)="onCreate()" [disabled]="">Crear</button>
        <button (click)="onUpdate()">Actualizar</button>
        <button (click)="onDelete()">Eliminar</button>

    </div>

    <div class="formulario">
        @switch (btName) {
            @case("create"){
                <div class="titulo"> {{deptName}}</div>
                <app-formulario/>
                       
            }
            @case("update"){
                <div class="titulo"> {{deptName}}</div>
                <app-formulario/>
            }
            @case("delete"){
                <div class="titulo"> {{deptName}}</div>
                <app-formulario/>
            }
        }

               
    </div>

</div>

<router-outlet/>
-->