

h1{
    margin-bottom: 20;
    text-align: center;
    font-family: "Merriweather", serif !important;
}


nav button{
    font-family: 'Roboto', sans-serif !important;
    letter-spacing: 0.5px;
    padding: 10px 15px;
    color: black;
    text-decoration: none;
    margin: 10px;
    display: inline-block;
    background-color: #cd966c;
    border-radius: 5px;
}


nav button:hover{
    cursor: pointer;
    color: white;
    background-color: #9a5833;
}

nav button:active {
    background-color: #7c3b1a;
  }

.btHoriz{
    display: block;
    width: 600px;
    margin: auto;
    text-align: center;
}

.head{
    margin-left: 40px;
}

button{
    background-color: #ccc;
    margin-left: 70px;
    padding: 10px 15px;
    min-width: 150px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #b4b0b0;
}

div .hijo{
    text-align: center;
}

a{
    margin-left: 10px;
}

.logo{
    position: relative;
    left: 80%;
    margin-top: -25%;
}
