


.root{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    margin-bottom: 20;
    text-align: center;
}

h2{
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
}

nav button{
    padding: 10px 15px;
    color: black;
    text-decoration: none;
    margin: 10px;
    display: inline-block;
    background-color: #cd966c;
    border-radius: 5px;
}
/*
nav a:visited, a:link{
    color: white;
}*/

nav button:hover{
    cursor: pointer;
    color: white;
    background-color: #9a5833;
}

nav button:active {
    background-color: #7c3b1a;
  }

.btHoriz{
    display: block;
    width: 600px;
    margin: auto;
    text-align: center;
}

.head{
    margin-left: 40px;
}

li{
    cursor: pointer;
}

li:hover{
    color: gray;
}

button{
    margin-left: 70px;
    min-width: 150px;
    border-radius: 5px;
}

div .padre{
    width: 33.33%;

}

div .hijo{
    text-align: center;
}

a{
    margin-left: 10px;
}
