 
 <div class="verti">

   <li>
    @if(!btCrear){
       
    } @else{
        <ul><button (click)="onCreate()" [disabled]="isAddDisabled()">{{btCrear}}</button></ul>
    }
        <ul><button (click)="onUpdate()" [disabled]="isUpdate()">{{btUpdate}}</button></ul>
        <ul><button (click)="onDelete()" [disabled]="isDelete()">{{btDelete}}</button></ul>
   </li>


    <div class="formulario">
        @switch (deptName) {
            @case("USUARIO"){
                <form [formGroup]="formUser" (ngSubmit)="onSubmit()" class="name">
                    
                    <div>
                        <label>Nombre</label>
                    </div>
                    <input name="userName" type="text" formControlName="nombre" (input)="onManualInput()" >
                             
                    <br>
                    <br>
                    
                    <div>
                        <label>Email</label>
                    </div>
                    <input name="email" type="text" formControlName="email" (input)="onManualInput()">
         
                </form>
            }
            @case("LIBRO"){
                <form [formGroup]="formLibro" (ngSubmit)="onSubmit()" class="name">
                    
                    <div>
                        <label>Título</label>
                    </div> 
                                         
                    <input name="bookName" type="text" formControlName="titulo" (input)="onManualInput()">
    
                    <br>
                    <br>
                         
                    <div>
                        <label>Alquilado</label>
                    </div>
                 
                    <input id="alquiladoDisponible" type="text" name="alquilado"  formControlName="mostrarAlquilado" readonly>
                
                </form>
            }

            @case("ALQUILER"){
                <form [formGroup]="formAlquiler" (ngsubmit)="onSubmit()" class="name">
                    <div>
                        <label>Socio</label>
                    </div>
                    <input name="socio" type="text" formControlName="socio" readonly>

                    <br>
                    <br>

                    <div>
                        <label>Libro</label>
                    </div>
                    <input name="libro" type="text" formControlName="libro" readonly>                       
    
                </form>
            }

        }
    
               
    </div>
    


</div>


<div>

    @switch (deptName) {
        @case("USUARIO"){
            <app-usuario [users] = "users"></app-usuario>
        }
        @case("LIBRO"){
            <app-libro [libros] = "libros"></app-libro>
        }
        @case("ALQUILER"){
            <app-alquiler [alquileres] = "alquileres"></app-alquiler>
        }
    }   

</div>
